/* general */

body {
    font-family: "URW Bookman L", serif;
    color: #4d0000;
    background-color:#eeb57e ;
    width: auto;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*display: flex;
    gap: 12px;*/
}

.white-text,
.white-text a {
    color:  #ffffff;
}

.content {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content h2 {
    margin-top: px;
}

.content p {
    font-size: 1.1rem;
    line-height:1.5;
}

/* header, navbar */

header {
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
}

.top {
    background-color: #660000;
    font-size: 30px;
    font-style: italic;
    font-family: cursive;
    display: flex;
    justify-content: center;
    align-items: center ;
}

.top img {
    height: 70px;
    width: auto;
    margin: 10px 20px;
}

nav {
    background-color: #990000;
    font-weight: 800;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    width: auto;
    display: flex;
    justify-content: left;
}

.nav-menu li,
#login {
    margin: 0 20px;
    padding: 8px;
    border-radius: 5px;
}

.nav-menu li:hover,
#login:hover {
    background-color:#770000;
}

.dropdown {
    position: relative;
    margin: 0 20px;
}

.dropdown-content {
    background-color: #990000;
    font-weight: 500;
    display: none;
    position: absolute;
    border-radius: 5px;
}

.dropdown-content li {
    margin: 0;
    padding: 15px;
}

.dropdown-content li:hover {
    background-color: #770000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#login {
    margin: 0 20px;
}

/* Profile Pages */

.pfp {
    width: 80%;
    height: auto;
}

.profile-table {
    width: 95%;
    max-width: 950px;
    border: 1px solid #000000;
    border-collapse: collapse;
    margin: 20px auto;
    font-size: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-table tr th, .profile-table tr td {
    text-align: left;
    border: 1px solid #000000;
    padding: 10px;
}

/* Additional Profile Content */
.profile-pic {
    float: center;
    border: 5px groove #333;
    padding: 20px;
    max-width: 500px;
    height: 600px;
    margin-top: 20px;
}

.profile-name {
    font-size: 200%;
    text-align: center;
    font-weight: bold;
}

.profile-student-no {
    font-family: Arial;
}

.profile-course {
    color: rgb(255, 20, 212)
}

.profile-mailto {
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    text-decoration: underline;
}

/*forms*/

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 70vw;
    margin: 20px 0;
}

fieldset {
    border: 0;
    margin-bottom: 30px;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

legend {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    padding: 0;    
}

label {
    font-size: 16px;
    font-weight: 550;
}

input,
textarea,
select {
    background-color: #ffffff;
    border: 2px solid  #800000;
    border-radius: 5px;
    padding: 5px;
}

input[type = submit]:hover,
input[type = reset]:hover,
input[type = date]:hover,
select:hover {
    background-color: #dddddd;
}

input[type = date] {
    width: 100%;
    height: 35px;
    margin: 10px 0;
    padding: 5px;
    box-sizing: border-box;
}

select {
    width: 100%;
    height: 35px;
    margin: 10px 0;
    padding: 5px;
    box-sizing: border-box;
}

.singletext {
    width: 98%;
}

.singletext input[type = text],
.singletext input[type = tel],
.singletext input[type = email],
.singletext input[type = password] {
    width: 100%;
    height: 35px;
    margin: 10px 0;
    box-sizing: border-box;
}

.twintext {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.twintext div {
    margin-right: 20px;
    flex-grow: 1;
}
.twintext div input[type="text"],
.twintext div input[type="tel"],
.twintext div input[type="email"] {
    width: 100%;
    height: 35px;
    margin: 10px 0;
    box-sizing: border-box;
}

.selectdiv {
    width: 100%;
}


.textareadiv {
    width: 100%;
}

.textareadiv textarea {
    width: inherit;
    height: 100px;
    margin: 10px 0;
    padding: 5px;
    box-sizing: border-box;
    resize: none;
}

.subres {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.subres input[type = submit], 
.subres input[type = reset] {
    margin: 0px 15px;
    padding: 10px;
}

/* footer */

footer {
    background-color: #660000;
    font-size: 18px;
    width: 100vw;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style:italic;
}

footer div {
    margin: 20px;
    font-weight: 700;
}

footer div ul {
    font-weight: 500;
    margin: 20px 0;
}

footer div ul:hover {
    text-decoration: underline;
}

